{%- assign text_direction = 'localization.text_direction_trigger' | t | downcase -%}
<!doctype html>
<html
  class="no-js"
  lang="{{ request.locale.iso_code }}"
  {%- if text_direction == 'rtl' %}
    dir="rtl"
  {% endif -%}
>
  <head>
{% comment %}
  {%- if content_for_header contains 'tapita-seo-script-tags' -%}{%- include 'tapita-seo-schema' -%}{%- endif -%} 
{% endcomment %} 
     
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="alternate" href="{{ canonical_url }}" hreflang="en-us" />
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <meta name="google-site-verification" content="XVP2KbWCPGQvAIiidjf_0z4e186VmL9EvlnJr1RIUMU">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}{% endunless -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- render 'meta-tags' -%}

    <!-- custom code for offer landing page products meta tag -->
    {% if collection.handle contains 'win-sale' or product.tags contains 'win24' %}
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    {% endif %}
    <!-- custom code for offer landing page products meta tag ends here -->

    <script src="{{ 'vendor-v4.js' | asset_url | split: '?' | first }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}

    {%- liquid
      render 'css-variables'
      echo 'base.css' | asset_url | stylesheet_tag: preload: true

      if text_direction == 'rtl'
        echo 'rtl.css' | asset_url | stylesheet_tag
      endif
    -%}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link
        rel="stylesheet"
        href="{{ 'component-predictive-search.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}
    {%- if settings.quick_view_enabled -%}
      <link
        rel="stylesheet"
        href="{{ 'component-quick-view.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}
    {%- if settings.color_swatches_enabled -%}
      <link
        rel="stylesheet"
        href="{{ 'component-color-swatches.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}
    {%- if linklists['gift-wrapping'].links != blank
      and linklists['gift-wrapping'].links.first.type == 'product_link'
    -%}
      <link
        rel="stylesheet"
        href="{{ 'component-gift-wrapping.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
      <noscript>{{ 'component-gift-wrapping.css' | asset_url | stylesheet_tag }}</noscript>
    {%- endif -%}
      <link
        rel="stylesheet"
        href="{{ 'oc-custom-design.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    <!-- Custom jQuery CDN Link -->
    <script src="{{ 'jquery.js' | asset_url }}" defer="defer"></script>
    <!-- Custom jQuery CDN Link ends here -->
    <!-- Google Tag Manager -->
   
    {% if shop.permanent_domain == 'bv-uk.myshopify.com' %}
      {% assign gtm_id = "GTM-KVPNR9M9" %}
      {% assign clarity_id = "sfnswy7p2w" %}
    {% else %}
      {% assign gtm_id = "GTM-KRQGWRFH" %}
      {% assign clarity_id = "lqd1eom3o6" %}
      
    {% endif -%} 

  <script>
  (function(w,d,s,l,i){
    w[l]=w[l]||[];
    w[l].push({'gtm.start': new Date().getTime(), event:'gtm.js'});
    var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),
        dl=l!='dataLayer' ? '&l=' + l : '';
    j.async=true;
    j.src='https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ gtm_id }}');
</script>
      <!-- End Google Tag Manager -->
    
     <!-- Google tag Starts here(gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16831611254"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-16831611254');
</script>
<!-- Google tag Ends Here (gtag.js) -->

      <!-- Clarity Code Starts here -->
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", '{{ clarity_id }}');
</script>
      <!-- Clarity code ends here -->
    
    <!-- MIcrosoft Bing Script starts from here  -->
    <script> 
  (function(w,d,t,r,u) { var f,n,i; w[u]=w[u]||[],f=function() { var o={ti:"97168584", enableAutoSpaTracking: true}; o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad") }, n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function() { var s=this.readyState; s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null) }, i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i) }) (window,document,"script","//bat.bing.com/bat.js","uetq");
    </script>
        <!-- MIcrosoft Bing Script ends from here  -->
  </head>
  <!-- OC Test Comment3 -->
  <body
    class="template-{{ request.page_type }}{% if request.design_mode %} shopify-design-mode{% endif %} {{ template | replace: '.', '-' }}"
    {%- if settings.image_zoom_effect_enabled %}
      data-animate-image
    {% endif -%}
    {%- if settings.image_loading_bar_enabled %}
      data-lazy-image
    {% endif -%}
    {%- if settings.heading_capitalize %}
      data-heading-capitalize
    {% endif -%}
    {%- if settings.heading_center %}
      data-heading-center
    {% endif -%}
    {%- if settings.price_superscript %}
      data-price-superscript
    {% endif -%}
    {%- if settings.button_corner_radius > 0 %}
      data-button-round
    {% endif -%}
  >
    <!-- Google Tag Manager (noscript) -->
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_id }}"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <!-- End Google Tag Manager (noscript) -->
    <a class="skip-to-content-link button button--small visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    
{% if template contains 'index' %}
  {% render 'transition-cover' %}  
{% endif %}

    <div class="transition-body">
      {% if template contains 'product' and shop.permanent_domain == 'bv-uk.myshopify.com' %}
          {% if product.metafields.custom.pdp_custom_top_banner %}
            <style>
              .header-top-banner {
                position: fixed;
                margin-top: 30px;
                z-index: 20;
                width:100%;
              }
              .header-top-banner img {
                display:block;
                width:100%;
              }
              .header-top-banner-desktop {
                position: fixed;
                margin-top: 30px;
                z-index: 20;
                  width:100%;

              }
              .header-top-banner-desktop img {
                height: 120px;
                display:block;
              }
              @media (min-width: 768px) {
                .header-top-banner {
                    display: none !important;
                }
                .page-width-pdp {
                  padding-top:276px !important;
                }
                .header-wrapper {
                  position: fixed;
                  top: 140px;
                  width: 100%;
                }
              }
              @media (max-width: 768px) {
                .header-top-banner-desktop{
                  display:none;
                }
                .header-wrapper{
                  position:fixed;
                  top:60px;
                  width:100%
                }
              }
            </style>
            <div class="comman-header">

              <div class="header-top-banner">
                <img src="{{ product.metafields.custom.pdp_custom_top_banner | img_url: 'master' }}" width="100%">
              </div>

              <div class="header-top-banner-desktop">
                <img src="{{ product.metafields.custom.pdp_custom_top_banner | img_url: 'master' }}" width="100%">
              </div>

            </div>
          {% endif %}

        {% endif %}

      {% sections 'header-group' %}

      <div class="transition-content">
        <main id="MainContent" class="content-for-layout focus-none shopify-section" role="main" tabindex="-1">
          {{ content_for_layout }}
        </main>

        {% sections 'footer-group' %}
      </div>
    </div>

    {% sections 'overlay-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>
    <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
      <symbol id="icon-cart" fill="none" viewbox="0 0 18 19">
        <path d="M3.09333 5.87954L16.2853 5.87945V5.87945C16.3948 5.8795 16.4836 5.96831 16.4836 6.07785V11.4909C16.4836 11.974 16.1363 12.389 15.6603 12.4714C11.3279 13.2209 9.49656 13.2033 5.25251 13.9258C4.68216 14.0229 4.14294 13.6285 4.0774 13.0537C3.77443 10.3963 2.99795 3.58502 2.88887 2.62142C2.75288 1.42015 0.905376 1.51528 0.283581 1.51478" stroke="currentColor"/>
        <path d="M13.3143 16.8554C13.3143 17.6005 13.9183 18.2045 14.6634 18.2045C15.4085 18.2045 16.0125 17.6005 16.0125 16.8554C16.0125 16.1104 15.4085 15.5063 14.6634 15.5063C13.9183 15.5063 13.3143 16.1104 13.3143 16.8554Z" fill="currentColor"/>
        <path d="M3.72831 16.8554C3.72831 17.6005 4.33233 18.2045 5.07741 18.2045C5.8225 18.2045 6.42651 17.6005 6.42651 16.8554C6.42651 16.1104 5.8225 15.5063 5.07741 15.5063C4.33233 15.5063 3.72831 16.1104 3.72831 16.8554Z" fill="currentColor"/>
      </symbol>
    </svg>

    <script>     
      window.routes = {
        root_url: '{{ routes.root_url }}',
        cart_url: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        search_url: '{{ routes.search_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        preOrder: `{{ 'products.product.pre_order' | t }}`
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`
      }

      window.dateStrings = {
        d: `{{ 'general.date.d' | t }}`,
        day: `{{ 'general.date.day' | t }}`,
        days: `{{ 'general.date.days' | t }}`,
        hour: `{{ 'general.date.hour' | t }}`,
        hours: `{{ 'general.date.hours' | t }}`,
        minute: `{{ 'general.date.minute' | t }}`,
        minutes: `{{ 'general.date.minutes' | t }}`,
        second: `{{ 'general.date.second' | t }}`,
        seconds: `{{ 'general.date.seconds' | t }}`
      };

      window.shopSettings = {
        moneyFormat: {{ shop.money_format | json }},
        isoCode: {{ cart.currency.iso_code | json }},
        cartDrawer: {{ settings.cart_drawer_enabled }}
      };

      (function() {
        // Fixed: Largest Contentful Paint image was lazily loaded
        const first_image = document.querySelector('#MainContent .shopify-section .media img');
        if (first_image) {
          first_image.setAttribute('loading', 'eager');
          first_image.setAttribute('fetchpriority', 'high');
        }
      })();
    </script>

    {%- if settings.image_loading_bar_enabled %}
      <script src="{{ 'lazyimage.js' | asset_url }}" async></script>
    {% endif -%}
    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if settings.quick_view_enabled -%}
      <script src="{{ 'quick-view.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if settings.color_swatches_enabled -%}
      <script src="{{ 'color-swatches.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if linklists['gift-wrapping'].links != blank
      and linklists['gift-wrapping'].links.first.type == 'product_link'
    -%}
      <script src="{{ 'gift-wrapping.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}


    {% render "wizzy.search.filters.styles" %}
    {% render "wizzy.search.filters.scripts" %}

          <!-- Cart custom hide  -->
         
{% if request.path contains '/en-gb' %}
  <style>
    ul.mini-cart__empty-collections.list-unstyled {
      display: none !important;
    }
  </style>
{% endif %}

      <!-- Cart custom hide  -->
{% if request.path contains '/products' %}
  {% assign hide_offer_block_first = false %}
  {% assign hide_offer_block_second = false %}

  {% if product.metafields.custom.hide_offer_block == true %}
  {% assign hide_offer_block_second = true %}
  {% else %}
    {% assign hide_offer_block_first = true %}
  {% endif %}


  {% assign hide_first = false %}
  {% assign hide_second = false %}

  {% if product.metafields.custom.hide_description == true %}
    {% assign hide_second = true %}
  {% else %}
    {% assign hide_first = true %}
  {% endif %}

{% if hide_first or hide_second %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const recommendations = document.querySelectorAll('.you-may-like');
      
      {% if hide_first %}
        if (recommendations.length > 1) recommendations[0].style.display = "none";
      {% elsif hide_second %}
        if (recommendations.length > 1) recommendations[1].style.display = "none";
      {% endif %}

    });
  </script>
{% endif %} 
{% if hide_offer_block_second or hide_offer_block_first %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const fragranceNotes = document.querySelectorAll('.product-ingredients-notes');
    const notesHeading = document.querySelectorAll('.Notes-Heading');
    const isMobile = window.innerWidth <= 768; // adjust breakpoint if needed

    function hideElements(index) {
      if (fragranceNotes.length > index) {
        fragranceNotes[index].style.display = "none";
      }
      if (notesHeading.length > index) {
        notesHeading[index].style.display = "none";
      }
    }

    // Run only if more than one block exists
    if (fragranceNotes.length > 1) {
      if (!isMobile) {
        // Desktop → always hide first
        hideElements(0);
      } else {
        // Mobile → follow Liquid conditions
        {% if hide_offer_block_first %}
          hideElements(0);
        {% elsif hide_offer_block_second %}
          hideElements(1);
        {% endif %}
      }
    }
  });
</script>
{% endif %} 
{% endif %}


{% comment %} {% if shop.permanent_domain == 'bellavitaglobal.myshopify.com' or shop.permanent_domain == 'bellavita-bangladesh.myshopify.com' or shop.permanent_domain == 'bv-us.myshopify.com'%}
  {% if request.path contains 'men-perfume-gift-set' %}
    <style>
      .atc-strip-container {
        display: none !important;
      }
      .product-form__submit {
        background-color: #eb6123; 
        color:#fff !important;
      }
      .product-form__submit:hover {
        background-color: black; 
        color:#fff !important;
      }
    </style>
  {% endif %}
{% endif -%} {% endcomment %}

{% if shop.permanent_domain != 'bellavitaglobal.myshopify.com' and shop.permanent_domain != 'bellavita-bangladesh.myshopify.com' and shop.permanent_domain != 'bv-us.myshopify.com'%}
{% if template contains "product" %}
  <style>
    .mobile-dock {
      display:none !important;
    }
  </style>
  {% endif %}
{% endif -%}



{% if template.suffix == "embarouge" %}
  <style>
    .mobile-dock {
      display:none !important;
    }
  </style>
  {% endif %}

</body>
</html>
{% if template contains "product" %}
<script>
  const temp = setInterval(() => {
    const ratings = document.querySelectorAll(".rich-text .rating, .product-rating-container .rating")

    ratings.forEach(item => {
      item.onclick = () => {
        const reviewWidget = document.querySelector("#judgeme_product_reviews")

        if (reviewWidget) {
          reviewWidget.scrollIntoView({behavior: "smooth"})
        }
      }
    })
  }, 500)
</script>
{% endif %}
{% if template contains "product" and shop.permanent_domain == 'bv-uk1.myshopify.com' %}
<script>
  function startCountdown() {
    const now = new Date();
    const tomorrow = new Date();
    tomorrow.setDate(now.getDate() + 1);
    tomorrow.setHours(0, 1, 0, 0); // Reset at 00:01 AM

    const countdownElement = document.getElementById("countdown");

    function updateTimer() {
      const now = new Date();
      const distance = tomorrow - now;

      if (distance <= 0) {
        
        return;
      }

      const hours = Math.floor(distance / (1000 * 60 * 60));
      const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((distance % (1000 * 60)) / 1000);

      countdownElement.innerText = `${hours}h ${minutes}m ${seconds}s`;

      // Make it visible after first calculation
      countdownElement.style.display = "inline";
    }

    updateTimer();
    setInterval(updateTimer, 1000);
  }

  document.addEventListener("DOMContentLoaded", startCountdown);
</script>
{% endif %}
{% if shop.permanent_domain == 'bv-uk.myshopify.com' %}
<script>
  window.buy2collection = [
    {% for product in collections['buy2get1'].products %}
      {{ product.id }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];
   window.buy1collection = [
    {% for product in collections['buy1get1'].products %}
      {{ product.id }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];
</script>
{% endif %}
{% if shop.permanent_domain == 'bellavitauae.myshopify.com' %}
{%- unless page.handle contains '404' -%}
  <script>
    fetch('/browsing_context_suggestions.json')
      .then(res => res.json())
      .then(data => {
        const country = data?.detected_values?.country?.handle?.toUpperCase();

        // Redirect to the India store if visitor is from India
        if (country === "IN") {
          window.location.href = "https://embarouge.in/";
        }
      })
      .catch(() => {});
  </script>
{%- endunless -%}
{% endif %}
{% if product.handle == 'bellavita-luxury-s-mood-collection-fantasy-for-him-edp-apple-cinnamon-musk-premium-long-lasting-fragrance-for-men-3-38-fl-oz' %}
<style>
  @media screen and (max-width: 749px) {
    .slider-mobile-gutter>.grid--1-col-tablet>.grid__item {
      width:90% !important;
    }
    .thumbnail-slider {
      display:none !important;
    }
  }
</style>
{% endif %}