{% if product.metafields.custom.product_ingredients.value != blank %}
  <link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

  <div class="product-ingredients page-width">
    <slider-component class="slider-mobile-gutter">
      <ul
        id="Slider-{{ section.id }}"
        class="grid grid--2-col grid--4-col-desktop slider slider--tablet"
        role="list"
      >
        {% for metaobject in product.metafields.custom.product_ingredients.value limit: 4 %}
          <li class="product-ingredients-item grid__item slider__slide center">
            {% if metaobject.perfume_notes.value != blank %}
              <p class="perfume-notes">
                <strong>{{ metaobject.perfume_notes.value | upcase }}</strong>
              </p>
            {% endif %}
            {% if metaobject.ingredient_image != blank %}
            {%- style -%}
              .pdp-ingredient-img {
                --image-ratio-percent: {{ 1 | divided_by: metaobject.ingredient_image.value.aspect_ratio | times: 100 }}%;
              }
            {%- endstyle -%}
            <div class="ingredient-img-wrapper">  
              <div class="media media--adapt pdp-ingredient-img">
                {{ metaobject.ingredient_image | image_url: width: 300 | image_tag: 
                  loading: 'lazy',
                  fetchpriority: 'low',
                  widths: '50, 100, 200, 300',
                  is: 'lazy-image'
                }}
              </div>
            </div>  
            {% endif %}
            {% if metaobject.ingredient_title.value != blank %}
              <p>
                <strong>{{ metaobject.ingredient_title.value | upcase }}</strong>
              </p>
            {% endif %}
            {% if metaobject.ingredient_description.value != blank %}
              <span>{{ metaobject.ingredient_description.value }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </slider-component>
  </div>

  <style>
    .product-ingredients ul {
      padding-inline-start: 0 !important;
    }
    .product-ingredients-item p {
      margin: 0.5rem 0;
    }
    .product-ingredients-item p.perfume-notes {
      color: #EA803D;
    }
    .ingredient-img-wrapper{
      width: 75%;
      margin: auto;
    }
    @media screen and (min-width: 750px) {
      .product-details .product-ingredients .product-ingredients-item {
        flex: 0 0 auto;
        max-width: 100%;
      }
      .product-ingredients ul {
        justify-content: center;
      }
    }
    @media screen and (max-width: 749px) {
      .product-details .product-ingredients .product-ingredients-item {
        flex: 0 0 42%;
        max-width: 100%;
      }
    }
  </style>
{% endif %}
