<div class="custom-pack-picker">
  <div class="pack-options">

    {% for option in product.options_with_values %}
      {% if option.name == "Pack Size" or option.name == "Size" or option.name == "Pick your Bundle" %}
        {%- for value in option.values -%}

          {% assign image_url = blank %}
          {% assign discount_text = blank %}

          {% if value contains 'Pack of 1' or  value contains 'Sigma male' or value contains 'Sigma Combo'  %}
            {% assign image_url = product.metafields.custom.pack_of_one_image | img_url: '400x' %}
            {% assign discount_text = "SAVE 10%" %}
            {% if value contains 'Sigma male' %}
              {% assign discount_text = "100 ml" %}
            {% endif %}
          {% elsif value contains 'B1G1 at 45% Off' or  value contains '20 ml' or  value contains 'Sigma Mini' %}
            {% assign image_url = product.metafields.custom.pack_of_two_image | img_url: '400x' %}
            {% assign discount_value = product.metafields.custom.pack_product_discount | default: 45 %}
            {% assign discount_text = 'SAVE ' | append: discount_value | append: '%' %}
            {% if value contains 'Sigma Mini' %}
              {% assign discount_text = "20 ml" %}
            {% endif %}
          {% else %}
            {% assign image_url = product.metafields.custom.pack_of_two_image | img_url: '400x' %}
            {% assign discount_value = product.metafields.custom.pack_product_discount | default: 45 %}
            {% assign discount_text = 'SAVE ' | append: discount_value | append: '%' %}
          {% endif %}

          <label class="pack-card">
            <input
              type="radio"
              id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
              name="{{ option.name }}"
              value="{{ value | escape }}"
              form="{{ product_form_id }}"
              {%- if option.selected_value == value %}checked="checked"{% endif -%}
              data-option-value="{{ value | escape }}"
              class="hello2"
            />
            <div class="pack-box border-2 border-gray-300 rounded-lg overflow-hidden cursor-pointer transition peer-checked:border-black">
              
              <div class="discount-badge"><strong>{{ discount_text }}</strong></div>
              
              {% if image_url != blank %}
                <img src="{{ image_url }}" alt="{{ value }}" class="pack-image w-full h-48 object-contain" style="max-width: 130px !important;">
              {% endif %}
              {% unless value contains 'Sigma male' or value contains 'Sigma Mini' %}
                <div class="pack-label transition peer-checked:bg-black peer-checked:text-white">
                  {{ value }}
                </div>
              {% endunless %}
            </div>
          </label>

        {% endfor %}
      {% endif %}
    {% endfor %}

  </div>
</div>